/*

Ändrat storleken på text och knappar och placerat allt innehåll i en kolumn

*/


@media (max-width: 400px) {
  /* ----- Index -----*/

  .mainIndex {
    grid-area: main;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto;
    grid-template-areas:
      "gokart"
      "indoors"
      "outdoors"
      "info"
      "videos"
      "sponsorsTeam13";
    background-color: white;
    margin-top: -0.5rem;
  }

  .gokartMain {
    height: 45rem;
  }

  .gokartText {
    font-size: 2.5rem;
    color: white;
    padding: 1rem;
    margin-top: 10rem;
    z-index: 1;
    animation-name: fade-in;
    animation-duration: 4s;
  }

  /* ----- Rubriker och text -----*/

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 2rem;
  }

  /* ----- Header -----*/

  nav ul {
    display: none;
  }

  /* ----- Knapp -----*/

  .bookingButton {
    width: 10rem;
  }

  /* ----- Formulär -----*/

  form {
    width: 15rem;
  }

  .big {
    font-size: 1.2rem;
  }

  .info {
    font-size: 0.7rem;
  }

  footer {
    font-size: 0.8rem;
  }

}
